/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.container {
  width: 90% !important;
}
.btn-primary {
  background-color: #ff324d;
  color: #fff;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 0px;
}

.btn-primary:hover {
  background-color: #fff;
  color: #ff324d;
  border: solid 1px #ff324d;
  transition: all ease-in-out 0.5s;
  outline: none;
}

/* Navbar */
.right-top {
  padding-right: 1.6rem;
}
.left-top a,
.right-top a {
  text-decoration: none;
  font-size: 0.9rem;
  text-decoration: none;
  color: #292b2c;
}
.wish-list {
  margin-right: 1rem;
}
.sign-in {
  margin-right: 1rem;
}
.left-top button {
  text-decoration: none;
  font-size: 0.9rem;
  text-decoration: none;
  color: #292b2c;
  margin-right: 1rem;
  margin-top: 0.8rem;
  margin: 0 1rem 0rem 0;
  outline: none;
}
.left-top .dropdown {
  margin-right: 0 !important;
}

.myNavbar a:hover {
  color: #ff324d;
}

.navbar .navbar-brand {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: inherit;
}

.navbar .navbar-brand i {
  color: #ff324d;
}
.navbar .navbar-toggler {
  border: none;
}

.navbar-nav {
  padding: 0.8em 0em;
}

.navbar-nav .nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #292b2c;
}

.navbar-nav .nav-link:hover {
  color: #ff324d !important;
}

.navbar-nav .nav-item .nav-link {
  padding: 0 1em;
}

/* Slider */
.owl-carousel .item {
  width: 100vw;
  height: 500px;
}
.owl-carousel .item .image {
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-carousel .item .content {
  position: absolute;
  bottom: 25%;
  left: 10%;
  z-index: 20;
  color: #000;
}
.owl-carousel .item .content h5 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.owl-carousel .item .content h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

/* Cards */
.single-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.single-card img {
  height: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.single-card img:hover {
  -moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.single-card-info h3 {
  font-weight: 700;
}
.single-card .single-card-info {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 20px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
}
/* Featured Products */
#products h3 {
  font-size: 2rem;
  font-weight: 700;
}
#products a {
  color: #292b2c;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  text-transform: capitalize;
}

#products a:hover,
#products .active {
  color: #ff324d;
  text-decoration: none;
}

.card-img-overlay {
  position: absolute;
  top: 120px;
  opacity: 0 !important;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

.card-img-overlay .btn {
  background-color: white;
  color: #000;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  width: 33px;
  height: 33px;
  padding: 0;
  text-align: center;
  z-index: 33;
}
.card-img-overlay .btn i {
  vertical-align: middle !important;
}
.card-img-overlay .btn:hover {
  background-color: #ff324d;
}
.card-img-overlay .btn:hover .fas,
.card-img-overlay .btn:hover .far {
  color: #f4f9fc;
}

.card:hover img::before {
  opacity: 1;
}
.card img::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.card:hover .card-img-overlay {
  opacity: 1 !important;
}
.card {
  margin: 0 !important;
  margin-bottom: 5rem !important;
  width: 255px !important;
  border: none !important;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card img {
  width: 100%;
}
.card-title {
  font-size: 0.9rem;
  font-weight: 700;
}

/* BANNER */
.banner {
  margin-top: 4rem;
  background: #f4f9fc;
}

.banner span {
  color: #ff324d;
  font-size: 1.2rem !important;
}
.banner img {
  top: 100px;
}

.banner a {
  height: auto;
  font-size: 1.1rem;
  padding: 1rem 0;
}

/* Product slider */
#product-slider h3 {
  font-size: 2rem;
  font-weight: 700;
}
.owl-carousel .card {
  width: 100% !important;
  border: none !important;
  height: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  margin: 0 5em 1em 1em;
}
.product-slider .card img {
  width: 100%;
}
.product-slider .card-title {
  font-size: 0.9rem;
  font-weight: 700;
}
.product-slider .owl-prev,
.product-slider .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.product-slider .owl-next span,
.product-slider .owl-prev span {
  font-size: 5rem;
  font-weight: 100;
  margin: -3rem;
}
.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}

/* Testamonilos */
.testimonials {
  background: #fff1f1 !important;
  height: auto;
  padding-bottom: 50px;
}
.testimonials .content {
  margin-top: 100px;
}
.testimonials .content .heading-1 {
  margin-bottom: 25px;
}
.testimonials .content span {
  color: #ff324d;
}

.testimonials .content p {
  color: #646a7c;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 15px !important;
}

.testimonials-example {
  margin-top: 62px;
  margin-left: -4px;
}

.testimonials-box {
  width: 90%;
  height: 90%;
  padding: 30px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
  position: relative;
}

.testimonials-box .author-image img {
  float: left;
  max-width: 100px;
  width: 50px;
}
.testimonials-box .author-name {
  margin-left: 70px;
  overflow: hidden;
}
.testimonials-box .author-name span {
  color: #ff324d;
}
.testimonials-box .author-text p {
  color: #646a7c;
  font-size: 14px;
}
.testimonials-example .owl-prev,
.testimonials-example .owl-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.testimonials-example .owl-next span,
.testimonials-example .owl-prev span {
  font-size: 3rem;
  font-weight: 100;
  margin: 2rem;
}

.testimonials-example .owl-prev {
  left: -2.7rem;
}

.testimonials-example .owl-next {
  right: -2rem;
}

/* Companies */
.companies {
  margin: 100px 50px;
}
.company img {
  opacity: 0.8;
}
.company img:hover {
  opacity: 1;
}

/* subscription */
.subscription {
  background: #ff324d;
  color: #fff;
}

.subscription h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.subscription .form-group {
  margin-top: 20px;
}
.subscription .form-group .form-control {
  color: #000;
  box-shadow: none;
  height: 50px;
  padding: 8px 15px;
  display: block;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.subscription .form-group .submit {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  line-height: normal;
  padding: 12px 35px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 400;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
}
/* FOOTER */
footer {
  background-color: #202325;
}
footer p {
  color: #fff;
}
.social_icons {
  list-style: none;
}

footer ul li a i {
  color: #fff;
}

footer ul li a i:hover {
  color: #ff324d;
}
footer h6 {
  color: #fff;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18px;
}

.sub-links {
  list-style: none;
}

.sub-links li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
.sub-links li a p {
}
/* Media quires */
@media screen and (max-width: 769px) {
  .container {
    width: 100% !important;
  }
  .btn {
    font-size: 0.7rem !important;
  }

  .btn-primary {
    background-color: #ff324d;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 0px;
  }
  .myNavbar {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
  }
  .right-top {
    padding-right: 0.8rem;
  }
  .left-top {
    padding: 0 !important;
  }
  .left-top button {
    text-decoration: none !important;
    padding: 0 !important;
    font-size: 0.9rem !important;
    text-decoration: none !important;
    color: #292b2c !important;
    margin: 0 1rem 0 0 !important;
    outline: none !important;
    text-align: center !important;
  }
  .left-top .dropdown {
    text-align: center !important;
  }
  .single-card {
    background-size: contain;
  }
  .single-card-info h5 {
    font-size: 0.9rem;
  }
  .single-card-info h3 {
    font-size: 1.1rem;
  }
  .single-card-info a {
    font-size: 0.7rem;
  }

  .owl-carousel .item {
    height: 350px;
  }
  .owl-carousel .item .content {
    bottom: 30%;
    left: 4%;
  }
  .owl-carousel .item .content h5 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
  }

  .owl-carousel .item .content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  .owl-carousel .item .content button {
    padding: 10px;
    height: auto;
  }
  #products .card {
    margin: 0 !important;
    width: 100% !important;
    border: none !important;
    margin-bottom: 15px !important;
  }
  .banner img {
    width: 85%;
  }
  .banner .banner-text {
    margin-top: 2rem;
    text-align: left !important;
  }
  .banner .banner-text span {
    font-size: 1rem;
  }
  .banner .banner-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .banner .banner-text h5 {
    font-size: 1.2rem;
  }

  .product-slider .card {
    margin: 0 !important;
    width: 100% !important;
    border: none !important;
  }

  .testimonials .content {
    margin-top: 75px;
    margin-bottom: -50px;
  }
  .testimonials-box {
    width: 100%;
    margin-right: 0 !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  .myNavbar {
    justify-content: center;
  }
  .left-top {
    text-align: center !important;
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
  }
  .right-top {
    text-align: center !important;
    display: flex;
    justify-content: center !important;
  }

  .navbar .navbar-brand img {
    max-width: 140px;
    height: auto;
  }
  .navbar-light .navbar-toggler-icon {
    font-size: 1rem;
  }
  .fa-search,
  .fa-shopping-cart {
    font-size: 1rem;
    margin-right: -7px;
  }

  .owl-carousel .item .content {
    left: 5%;
  }
  .owl-carousel .item .content h2 {
    font-size: 2rem;
  }
  .subscription h3 {
    font-size: 1.2rem;
  }
  .subscription .form-group .form-control {
    height: 47px;
    font-size: 1rem;
  }
  .subscription .form-group .submit {
    font-size: 1rem !important;
  }
  .banner .banner-text {
    margin-top: 2rem;
    text-align: center !important;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  .navbar-brand img {
    max-width: 140px;
    height: auto;
  }
}
